@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css);
@import url("font.css");

/*font customization*/

h1 .ft-primary {
    font-weight: bold;
}

.col-centered {
    margin: 0 auto;
    float: none;
}